@import '~@angular/material/theming';

$dark-gray: (
  50 : #f9fcfe,
  100 : #f1f6fb,
  200 : #e7f1f9,
  300 : #ddebf7,
  400 : #d6e6f5,
  500 : #cfe2f3,
  600 : #cadff1,
  700 : rgb(195, 218, 239),
  800 : #bdd6ed,
  900 : #b2cfea,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$light-blue: (
  50 : #e2eaf2,
  100 : #b6cbdf,
  200 : #85a9ca,
  300 : #5487b4,
  400 : #306da4,
  500 : #0b5394,
  600 : #0a4c8c,
  700 : #084281,
  800 : #063977,
  900 : rgb(3, 41, 101),
  A100 : #95b6ff,
  A200 : #6294ff,
  A400 : #2f71ff,
  A700 : #155fff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$red: (
  50 : #fce3e9,
  100 : #f8b9c8,
  200 : #f48ba3,
  300 : #ef5d7e,
  400 : #eb3a62,
  500 : #e81746,
  600 : #e5143f,
  700 : #e21137,
  800 : #de0d2f,
  900 : #d80720,
  A100 : #ffffff,
  A200 : #ffcfd2,
  A400 : #ff9ca4,
  A700 : #ff828c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

@include mat-core();
$app-primary: mat-palette($dark-gray);
$app-accent: mat-palette($light-blue);
$app-warn: mat-palette($red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);